* Data types
* if, elif, else Statements
* Loops
* list comprehension
* functions
* lambda expressions
* map and filter
* methods
* classes
* dataclasses

## Data types

### Numbers

In [1]:
1 + 1

2

In [2]:
1 * 3

3

In [3]:
1 / 2

0.5

In [9]:
2 ** 4

16

In [10]:
4 % 2

0

In [11]:
5 % 2

1

In [12]:
(2 + 3) * (5 + 5)

50

### Variable Assignment

In [4]:
# Can not start with number or special characters
name_of_var = 2

In [5]:
x = 2
y = 3

In [6]:
z = x + y

In [16]:
z

5

### Strings

In [17]:
'single quotes'

'single quotes'

In [18]:
"double quotes"

'double quotes'

In [19]:
" wrap lot's of other quotes"

" wrap lot's of other quotes"

In [7]:
x = 'ab'
y = 'cd'

x + y

'abcd'

### Printing

In [8]:
x = 'hello'

In [9]:
x

'hello'

In [10]:
print(x)

hello

In [11]:
num = 12
name = 'Sam'

In [12]:
print(f'My number is: {num}, and my name is: {name}')

My number is: 12, and my name is: Sam

### Lists

In [26]:
[1,2,3]

[1, 2, 3]

In [27]:
['hi',1,[1,2]]

['hi', 1, [1, 2]]

In [28]:
my_list = ['a','b','c']

In [29]:
my_list.append('d')

In [30]:
my_list

['a', 'b', 'c', 'd']

In [31]:
my_list[0]

'a'

In [32]:
my_list[1]

'b'

In [33]:
my_list[1:]

['b', 'c', 'd']

In [34]:
my_list[:1]

['a']

In [35]:
my_list[0] = 'NEW'

In [98]:
my_list

['NEW', 'b', 'c', 'd']

In [99]:
nest = [1,2,3,[4,5,['target']]]

In [100]:
nest[3]

[4, 5, ['target']]

In [101]:
nest[3][2]

['target']

In [102]:
nest[3][2][0]

'target'

### Dictionaries

In [37]:
d = {'key1':'item1','key2':'item2'}

In [38]:
d

{'key1': 'item1', 'key2': 'item2'}

In [39]:
d['key1']

'item1'

### Booleans

In [40]:
True

True

In [41]:
False

False

### Tuples

In [42]:
t = (1,2,3)

In [43]:
t[0]

1

In [44]:
t[0] = 'NEW'

TypeError: 'tuple' object does not support item assignment

### Sets

In [45]:
{1,2,3}

{1, 2, 3}

In [46]:
{1,2,3,1,2,1,2,3,3,3,3,2,2,2,1,1,2}

{1, 2, 3}

## Comparison Operators

In [47]:
1 > 2

False

In [48]:
1 < 2

True

In [49]:
1 >= 1

True

In [50]:
1 <= 4

True

In [51]:
1 == 1

True

In [52]:
'hi' == 'bye'

False

## Logic Operators

In [53]:
(1 > 2) and (2 < 3)

False

In [54]:
(1 > 2) or (2 < 3)

True

In [55]:
(1 == 2) or (2 == 3) or (4 == 4)

True

## if,elif, else Statements

In [56]:
if 1 < 2:
    print('Yep!')

Yep!

In [57]:
if 1 < 2:
    print('yep!')

yep!

In [58]:
if 1 < 2:
    print('first')
else:
    print('last')

first

In [59]:
if 1 > 2:
    print('first')
else:
    print('last')

last

In [60]:
if 1 == 2:
    print('first')
elif 3 == 3:
    print('middle')
else:
    print('Last')

middle

## for Loops

In [61]:
seq = [1,2,3,4,5]

In [62]:
for item in seq:
    print(item)

1
2
3
4
5

In [63]:
for item in seq:
    print('Yep')

Yep
Yep
Yep
Yep
Yep

In [64]:
for jelly in seq:
    print(jelly+jelly)

2
4
6
8
10

## while Loops

In [65]:
i = 1
while i < 5:
    print('i is: {}'.format(i))
    i = i+1

i is: 1
i is: 2
i is: 3
i is: 4

## range()

In [66]:
range(5)

range(0, 5)

In [67]:
for i in range(5):
    print(i)

0
1
2
3
4

In [68]:
list(range(5))

[0, 1, 2, 3, 4]

## list comprehension (and dict comprehension)

In [69]:
x = [1,2,3,4]

In [70]:
out = []
for item in x:
    out.append(item**2)
print(out)

[1, 4, 9, 16]

In [71]:
[item**2 for item in x]

[1, 4, 9, 16]

## functions

In [72]:
def my_func(param1='default'):
    """
    Docstring goes here.
    """
    print(param1)

In [73]:
my_func

In [74]:
my_func()

default

In [75]:
my_func('new param')

new param

In [76]:
my_func(param1='new param')

new param

In [77]:
def square(x):
    return x**2

In [78]:
out = square(2)

In [79]:
print(out)

4

In [ ]:
import math
def f1(f: float, **kwargs) -> float:
    if 'eksponent' in kwargs:
        return f**kwargs['eksponent']
    elif 'koren' in kwargs:
        return x**(1/kwargs['koren'])
    elif 'logaritam' in kwargs:
        return math.log(x, kwargs['logaritam'])
    else:
        return x

k = {'eksponent': 3}

print(f1(2,**k))
print(f1(2,koren=2))
print(f1(2))

In [ ]:
def factorial(n: int) -> int:
    """
    Calculate factorial of n using recursion.
    
    Args:
        n (int): A non-negative integer
        
    Returns:
        int: The factorial of n
        
    Examples:
        >>> factorial(5)
        120
        >>> factorial(0)
        1
    """
    if n == 0 or n == 1:
        return 1
    
    # Recursive case
    return n * factorial(n - 1)

## lambda expressions

In [16]:
def times2(var):
    return var*2

In [17]:
times2(2)

4

In [18]:
lambda var: var*2

## map and filter

In [19]:
seq = [1,2,3,4,5]

In [28]:
m1 = map(times2, seq)

In [29]:
for k in m1:
    print(k)

2
4
6
8
10

In [85]:
list(map(times2,seq))

[2, 4, 6, 8, 10]

In [86]:
list(map(lambda var: var*2,seq))

[2, 4, 6, 8, 10]

In [87]:
filter(lambda item: item%2 == 0,seq)

In [88]:
list(filter(lambda item: item%2 == 0,seq))

[2, 4]

## methods

In [111]:
st = 'hello my name is Sam'

In [112]:
st.lower()

'hello my name is sam'

In [113]:
st.upper()

'HELLO MY NAME IS SAM'

In [103]:
st.split()

['hello', 'my', 'name', 'is', 'Sam']

In [104]:
tweet = 'Go Sports! #Sports'

In [106]:
tweet.split('#')

['Go Sports! ', 'Sports']

In [107]:
tweet.split('#')[1]

'Sports'

In [92]:
d

{'key1': 'item1', 'key2': 'item2'}

In [93]:
d.keys()

dict_keys(['key2', 'key1'])

In [94]:
d.items()

dict_items([('key2', 'item2'), ('key1', 'item1')])

In [95]:
lst = [1,2,3]

In [96]:
lst.pop()

3

In [108]:
lst

[1, 2]

In [109]:
'x' in [1,2,3]

False

In [110]:
'x' in ['x','y','z']

True

# Classes

In [ ]:
class Worker():
    def __init__(self, name: str, salary: float, hours_worked: int = 0):
        self.name = name
        self.salary = salary
        self.hours_worked = hours_worked
    
    def calculate_yearly_salary(self) -> float:
        return self.salary * 12
    
    def log_hours(self, hours: int) -> int:
        self.hours_worked += hours
        return self.hours_worked
    
    def calculate_overtime(self, regular_hours: int = 40) -> int:
        return self.hours_worked - regular_hours

class Developer(Worker):
    def __init__(self,
                 name: str,
                 salary: float,
                 programming_language: str,
                 code_lines: int = 0
                 ):
        super().__init__(name, salary)
        self.programming_language = programming_language
        self.code_lines = code_lines
    
    def write_code(self, lines: int) -> int:
        if lines < 0:
            raise ValueError("Lines of code cannot be negative")
        print(f"Writing {lines} lines of code in {self.programming_language}")
        self.code_lines += lines
        return self.code_lines
    
    def calculate_productivity(self, time_period: int) -> float:
        """Calculate lines of code per hour over a given time period"""
        velocity = self.code_lines / time_period if time_period > 0 else 0
        return velocity

class Manager(Worker):
    def __init__(self,
                 name: str,
                 salary: float,
                 team_size: int
                 ):
        super().__init__(name, salary)
        self.team_size = team_size
        self.project_status = {}
    
    def update_project_status(self,
                              project_name: str,
                              completion_percentage: int
                              ) -> dict:
        """Update status of a project"""
        if not 0 <= completion_percentage <= 100:
            raise ValueError("Completion percentage must be between 0 and 100")
        self.project_status[project_name] = completion_percentage
        return self.project_status
    
    def calculate_team_cost(self, avg_salary):
        """Calculate total team cost per year"""
        return self.team_size * avg_salary * 12
    
    def get_completed_projects(self):
        """Return list of completed projects"""
        return [project for project, status in self.project_status.items() 
                if status == 100]

# Example usage
dev = Developer("Alice", 1000, "Python")
print(dev.log_hours(45))  # 45
print(dev.calculate_overtime())  # 5
print(dev.write_code(100))  # 100
print(dev.calculate_productivity(8))  # 12.5 lines per hour

manager = Manager("Bob", 1500, 5)
manager.update_project_status("Website Redesign", 75)
manager.update_project_status("API Integration", 100)
manager.update_project_status("Mobile App", 100)
print(manager.get_completed_projects())  # ['API Integration', 'Mobile App']
print(manager.calculate_team_cost(5000))  # 300000

## Dataclass

In [17]:
# Dataclass example
from dataclasses import dataclass
from typing import List
from datetime import date

@dataclass
class Student:
    name: str
    age: int
    grades: List[float]
    student_id: str
    is_active: bool = True
    
    def calculate_avg_grade(self):
        return sum(self.grades) / len(self.grades)
    
    def add_grade(self, grade: int) -> None:
        if 5 <= grade <= 10:
            self.grades.append(grade)
        else:
            raise ValueError("Grade must be between 0 and 100")
    
    def is_honor_roll(self) -> bool:
        return self.calculate_avg_grade() >= 8.5

# Example usage
ana = Student(
    name="Ana Markovic",
    age=21,
    grades=[9, 7, 8, 9],
    student_id="20/101"
)

print(ana)  # Shows all fields automatically
ana.add_grade(9)
print(f"Honor Roll Status: {ana.is_honor_roll()}")

Student(name='Ana Markovic', age=21, grades=[9, 7, 8, 9], student_id='20/101', is_active=True)
Honor Roll Status: False

# Great Job!