# Operations

In [52]:
import pandas as pd
df = pd.DataFrame({'col1':[1,2,3,4],'col2':[444,555,666,444],'col3':['abc','def','ghi','xyz']})
df.head()

   col1  col2 col3
0     1   444  abc
1     2   555  def
2     3   666  ghi
3     4   444  xyz

### Info on Unique Values

In [53]:
df['col2'].unique()

array([444, 555, 666])

In [54]:
df['col2'].nunique()

3

In [55]:
df['col2'].value_counts()

col2
444    2
555    1
666    1
Name: count, dtype: int64

In [56]:
df['col2'].value_counts(normalize=True)

col2
444    0.50
555    0.25
666    0.25
Name: proportion, dtype: float64

### Selecting Data

In [32]:
#Select from DataFrame using criteria from multiple columns
newdf = df[(df['col1']>2) & (df['col2']==444)]

In [ ]:
newdf

### Applying Functions

In [34]:
def times2(x):
    return x*2

In [ ]:
df['col1'].apply(times2)

In [ ]:
df['col3'].apply(len)

In [ ]:
df['col1'].sum()

** Permanently Removing a Column**

In [38]:
del df['col1']

In [ ]:
df

** Get column and index names: **

In [ ]:
df.columns

In [ ]:
df.index

** Sorting and Ordering a DataFrame:**

In [ ]:
df

In [ ]:
df.sort_values(by='col2') #inplace=False by default

** Find Null Values or Check for Null Values**

In [ ]:
df.isnull()

In [ ]:
# Drop rows with NaN Values
df.dropna()

** Filling in NaN values with something else: **

In [46]:
import numpy as np

In [ ]:
df = pd.DataFrame({'col1':[1,2,3,np.nan],
                   'col2':[np.nan,555,666,444],
                   'col3':['abc','def','ghi','xyz']})
df.head()

In [ ]:
df.fillna('FILL')

In [57]:
data = {'A':['foo','foo','foo','bar','bar','bar'],
     'B':['one','one','two','two','one','one'],
       'C':['x','y','x','y','x','y'],
       'D':[1,3,2,5,4,1]}

df = pd.DataFrame(data)

In [58]:
df

     A    B  C  D
0  foo  one  x  1
1  foo  one  y  3
2  foo  two  x  2
3  bar  two  y  5
4  bar  one  x  4
5  bar  one  y  1

In [63]:
df.pivot_table(values='D',index=['A'],columns=['B'], aggfunc='std')

B         one
A
bar  2.121320
foo  1.414214

In [64]:
df.pivot_table(values='D',index=['A'],columns=['B'], aggfunc='mean')

B    one  two
A
bar  2.5  5.0
foo  2.0  2.0

In [65]:
df.pivot_table(values='D',index=['A'],columns=['B'], aggfunc='count')

B    one  two
A
bar    2    1
foo    2    1